<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../../styling/universal.css" />
    </head>
    <body onload="navRender();pointsValue()">
        <div id="nav"></div>
        <div>
            <label>Description:</label>
            <input class="card" placeholder="i.e Keep your sanity" />
            <br />
            <label>Points: <span id="pointsValue"></span> </label>
            <input id="pointsInput" class="card" type="range" min="1" max="5" value="3" oninput="pointsValue()" onchange="pointsValue()" />
            <br />

            <div>
                <label>Tech:</label>
                <input type="radio" id="techRadio1" name="tech" value="PYTHON" onchange="techValue()" />
                <label for="techRadio1">Python</label>
                <input type="radio" id="techRadio2" name="tech" value="JAVA" onchange="techValue()" />
                <label for="techRadio2">Java</label>
                <input type="radio" id="techRadio3" name="tech" value="JAVASCRIPT" onchange="techValue()" />
                <label for="techRadio3">JavaScript</label>
            </div>
            <div>
                <label>Status:</label>
                <input type="radio" id="statusRadio1" name="status" value="OPEN" onchange="statusValue()" />
                <label for="statusRadio1">Open</label>
                <input type="radio" id="statusRadio2" name="status" value="IN-PROGRESS" onchange="statusValue()" />
                <label for="statusRadio2">In-Progress</label>
                <input type="radio" id="statusRadio3" name="status" value="COMPLETED" onchange="statusValue()" />
                <label for="statusRadio3">Completed</label>
            </div>
            <input type="hidden" id="techSelect" class="card" value=""></input>
            <input type="hidden" id="statusSelect" class="card" value=""></input>

            <button onclick="newCard()">Create Card</button>
        </div>

        <div id="cardTable"></div>
        <script src="card.js"></script>
        <script src="../../../index.js"></script>
    </body>
</html>
