<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../../styling/universal.css" />
    </head>
    <body>
        <nav>
            <a class="navButton" href="../../../index.html">Home</a>
            <a class="navButton" href="../login/login.html">Login</a>
            <a class="navButton" href="../member/member.html">Member</a>
            <a class="navButton" href="../register/register.html">Register</a>
        </nav>
        <label>Description:</label>
        <input placeholder="i.e Keep your sanity" />
        <br />
        <label>Points:</label>
        <input type="range" min="1" max="5" />
        <br />

        <label>Tech:</label>
        <input type="radio" id="techRadio1" value="HTML" />
        <label for="techRadio1">HTML</label>
        <input type="radio" id="techRadio2" value="JAVA" />
        <label for="techRadio2">JAVA</label>
        <input type="radio" id="techRadio3" value="JAVASCRIPT" />
        <label for="techRadio3">JAVASCRIPT</label>
        <br />

        <label>Status:</label>
        <input type="radio" id="statusRadio1" value="OPEN" />
        <label for="statusRadio1">OPEN</label>
        <input type="radio" id="statusRadio2" value="IN-PROGRESS" />
        <label for="statusRadio2">IN-PROGRESS</label>
        <input type="radio" id="statusRadio3" value="COMPLETED" />
        <label for="statusRadio3">COMPLETED</label>
        <br />
        <button>Create Card</button>
    </body>
</html>
