<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../../styling/universal.css" />
    </head>
    <body onload="navRender()">
        <div id="nav"></div>

        <button onclick="showTest()">Show Test</button>
        <button onclick="showMultiTest()">Show Multi Test</button>
        <table>
            <thead>
                <tr>
                    <th>Member ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Experience in Months</th>
                </tr>
            </thead>
            <tbody id="memberTable"></tbody>
        </table>
        <script src="member.js"></script>
        <script src="../../../index.js"></script>
    </body>
</html>
